<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headBootstrap') %> 
<body>
    <%- include('../partials/sidebar') %> 
    <main>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="container mb-5 mt-5">
                <div >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Datos del producto</h5>
                            <div class="form-group">
                                <label for="name">Nombre del producto:</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="price">Precio:</label>
                                <input type="text" class="form-control" id="price" name="price">
                            </div>
                            <div class="form-group">
                                <label for="discount">Descuento:</label>
                                <input type="text" class="form-control" id="discount" name="discount">
                            </div>
                            <div class="form-group">
                                <label for="category">Categorias:</label>
                                <select name="category" id="category">
                                    <option value="" hidden selected>Seleccione el categoria</option>
                                  <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>"><%= capitalizarPrimeraLetra(category.category) %></option>
                                  <% }) %>
                                </select>
                            </div>
                            <div class='description form-group'>
                                <label for="description"> Descipción:</label>
                                <textarea class="form-control" name="description" id="description" cols="30"
                                    rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="image">Agregar imagen:</label>
                                <input class="img-input"  type="file" name="image" id="image" multiple>
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                </div>  
            </div>
        </form> 
</main>
    <%- include('../partials/footer') %> 
    
</body>
</html>