<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headBootstrap') %> 
<body >
    <%- include('../partials/sidebar') %> 

            <main>
                    <form action="/users/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="form2">
                        <div class="container mb-5 mt-5">
                            <div >
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Datos del producto</h5>
                                        <div class="form-group">
                                            <label for="name">Nombre del producto:</label>
                                            <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
                                            <span class="error text-danger"></span>
                                            <% if (locals.errors && errors.name) { %>
                                                <span class="error text-danger"><%= errors.name.msg %> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Precio:</label>
                                            <input type="text" class="form-control" id="price" name="price" value="<%= product.price %>">
                                            <span class="error text-danger"></span>
                                            <% if (locals.errors && errors.price) { %>
                                                <span class="error text-danger"><%= errors.price.msg %> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label for="discount">Descuento:</label>
                                            <input type="text" class="form-control" id="discount" name="discount" value="<%= product.discount %>">
                                            <span class="error text-danger"></span>
                                            <% if (locals.errors && errors.discount) { %>
                                                <span class="error text-danger"><%= errors.discount.msg %> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label for="category">Categorias:</label>
                                            <select class='form-control' name="category" id="category">
                                                <% categories.forEach(categoria=> { %> 
                                                    <option value="<%= categoria.id %>" <%= categoria.id === product.category.id ? "selected" : null%>>
                                                        <%= capitalizarPrimeraLetra(categoria.category) %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            <span class="error text-danger"></span>
                                            <% if (locals.errors && errors.category) { %>
                                                <span class="error text-danger"><%= errors.category.msg %> </span>
                                            <% } %>
                                        </div>
                                        <div class='description form-group'>
                                            <label for="description"> Descipción:</label>
                                            <textarea class="form-control" name="description" id="description" cols="30"
                                                rows="10"><%= product.description %> </textarea>
                                                <span class="error text-danger"></span>
                                                <% if (locals.errors && errors.description) { %>
                                                    <span class="error text-danger"><%= errors.description.msg %> </span>
                                                <% } %>
                                        </div>
                                        <div class="form-group">
                                            <% if (product.images.length != 0) { %>
                                                <% product.images.forEach(image => { %>
                                                    <img src="/images/articulos/<%=image.image%>" alt="" width="80px">
                                                <% }) %>  
                                            <% } %> 
                                            <input class="img-input" type="file" name="image" id="image" multiple>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                        <span class="error text-danger"></span>
                                        <% if (locals.errors && errors.image) { %>
                                            <span class="error text-danger"><%= errors.image.msg %> </span>
                                        <% } %>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </form> 
            </main>
            <%- include('../partials/footer') %> 
            <script src="/js/editProduct.js"></script>

    </body>

</html>