<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class="register">
    <%- include('../partials/sidebar') %> 
    <main>

        <h1>Nuevo registro</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="avatar">
                <p>Foto de perfil</p>
                <label for="avatar"><i class="far fa-user-circle"></i></label>
                <input type="file" name="avatar" id="avatar" hidden >
            </div>

            <div class="datos">
                <div>
                    <input type="text" name="nombre" placeholder="Escribe tu nombre" >
                    <span> <%= locals.errors && errors.nombre ? errors.nombre.msg : null %> </span>
                </div>

                <div>
                    <input type="text" name="apellido" placeholder="Escribe tu apellido" >
                    <span> <%= locals.errors && errors.apellido ? errors.apellido.msg : null %> </span>
                </div>

                <div>
                    <input type="number" name="numero" placeholder="Tu numero" >
                    <span> <%= locals.errors && errors.numero ? errors.numero.msg : null %> </span>
                </div>

                <div>
                    <input type="email" name="email" placeholder="Ingresa tu correo" >
                    <span> <%= locals.errors && errors.email ? errors.email.msg : null %> </span>
                </div>

                <div>
                    <input type="password" name="password" placeholder="Contraseña" >
                    <span> <%= locals.errors && errors.password ? errors.password.msg : null %> </span>
                </div>

                <div>
                    <input type="password" name="password2" placeholder="Repite tu contraseña" >
                    <span> <%= locals.errors && errors.password2 ? errors.password2.msg : null %> </span>
                </div>
            </div>

            <div class="redes">
                <div>
                    <input type="button" value="Ingresa con Google"><i class="fab fa-google"></i>
                </div>
                <div>
                    <input type="button" value="Ingresa con Facebook"><i class="fab fa-facebook"></i>
                </div>
            </div>

            <div class="buttons">
                <input type="submit" value="Crear" class="crear">
                <input type="reset" value="Borrar">
            </div>

        </form>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>