<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/headBootstrap') %> 
<body class="user">
    <%- include('../partials/sidebar') %> 
    <main>
        <div>
            
               <!--  <div >
                    <input type="text" name="firstName" id="firstName" value="<%= user.firstName %>">
                </div>
                <div >
                    <input type="text" name="lastName" id="lastName" value="<%= user.lastName %>">
                </div>
                <div >
                    <input type="number" name="number" id="number" value="<%= user.number %>">
                </div>
                <div >
                    <input type="email" name="email" id="email" value="<%= user.email %>" readonly >
                </div>
    
                <div >
                    <input type="password" name="password" id="password">
                </div>
                <div >
                    <input type="Password" name="newPassword" id="newPassword" value="">
                </div>
    
                <div >
                    <img src="/images/fotoUser/<%= user.avatar %>" alt="avatar">
                    <label class="img-perfil" for="avatar">Imagen De Perfil</label>
                    <input class="img-input" type="file" name="avatar" id="avatar">
                </div>
    
                <div>
                    <button type="submit">Editar</button>
                    <button type="reset">Cancelar</button>
                </div> -->
    
            <div class="mb-5 ">
                <form class="form" action="/users/profile/<%= locals.userLogin.id %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
                    <div class="container">
                        <div class="container p-0" >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Datos personales</h5>
                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" value="<%- user.firstName %>" >
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Apellido</label>
                                        <input type="text" class="form-control" id="lastname" name="lastName" value="<%- user.lastName %>" >
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" value="<%- user.email %>" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Contraseña</label>
                                        <input type="password" class="form-control" id="password" name="password" >
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword">Nueva Contraseña</label>
                                        <input type="password" class="form-control" id="newPassword" name="newPassword" >
                                    </div>
                                    <div class="form-group">
                                        <img class="img-circle" src="/images/fotoUser/<%- user.avatar %>" alt="avatar" width="20%">
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                        <label class="custom-file-label" for="validatedCustomFile">Seleccione avatar</label>
                                      </div>
                                   <!--  <div class="form-group">
                                        
                                        <label class="img-perfil " for="avatar">Imagen De Perfil</label>
                                        <input class="img-input" type="file" name="avatar" id="avatar">
                                    </div> -->
                                    <button type="submit" class="btn btn-primary mt-4">Editar</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>                 
            </div>
        </div>
        <div class="container">
            <!-- Table -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mis Productos</h5>
                            <table class="table container responsive">
                                <thead class="container responsive">
                                    <tr>
                                        <th scope="col" class="p-1">#</th>
                                        <th scope="col" class="p-1">Imagen</th>
                                        <th scope="col" class="p-1">Producto</th>
                                        <th scope="col" class="p-1">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(product => { %>
                                        <tr role="  ">
                                            <th class="p-1" scope="row"><%= product.id %></th>
                                            
                                            <td role="cell" class="td_img p-1" ><img src="/images/articulos/<%= product.images.length != 0 ? product.images[0].image : null %>" alt="producto"></td>
                                            <td role="cell" class="p-1"><%= product.name %></td>
                                            <td role="cell" class="oculto p-1">$ <%= product.price %></td>
                                            <td role="cell" class="oculto p-1"><%= product.productStates.state %></td>
                                            <td role="cell" class="td_botton p-1">
                                                <button><a href="/users/edit/<%= product.id %>"><i class="fas fa-edit"></i></a></button>
                                                <form action="/users/delete/<%= product.id %>?_method=DELETE" method="POST">
                                                    <button type='submit'><i class="fas fa-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        
        </div>
        <!-- <div class="contain">
            <table role="table">
                <thead role="rowgroup">
                  <tr role="row">
                    <th role="columnheader">Id</th>
                    <th role="columnheader">Imagen</th>
                    <th role="columnheader">Nombre</th>
                    <th role="columnheader" class="oculto">Precio</th>
                    <th role="columnheader" class="oculto">Estado</th>
                    <th role="columnheader">Acciones</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
                    <% products.forEach(product => { %>
                        <tr role="  ">
                            <td role="cell"><%= product.id %></td>
                            <td role="cell" class="td_img" ><img src="/images/articulos/<%= product.images.length != 0 ? product.images[0].image : null %>" alt="producto"></td>
                            <td role="cell"><%= product.name %></td>
                            <td role="cell" class="oculto">$ <%= product.price %></td>
                            <td role="cell" class="oculto"><%= product.productStates.state %></td>
                            <td role="cell" class="td_botton">
                                <button><a href="/users/edit/<%= product.id %>"><i class="fas fa-edit"></i></a></button>
                                <form action="/users/delete/<%= product.id %>?_method=DELETE" method="POST">
                                    <button type='submit'><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                  
                </tbody>
            </table>
        </div> -->
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>