<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class="comunity">
    <%- include('../partials/header') %> 
    <main>
        <div class="container-main">
            <div class="div_publicar">
                <img src="/images/logo/logo-de-lado.svg" width="50px" alt="">
                <input type="text" placeholder="Publicar" >
                <a href=""><i class="far fa-images"></i></a>
                <a href=""><i class="fas fa-link"></i></a>
            </div>
            <div class="div_filtrar">
                <a href=""><i class="fas fa-guitar"></i> Mejores</a>
                <a href=""><i class="fas fa-hashtag"></i> Destacado</a>
                <a href=""><i class="fas fa-tags"></i> Nuevo</a>
                <a href=""><i class="fas fa-tags"></i> Mas votado</a>
            </div>
            
            <section class="section_post">
                <% posts.forEach(post => { %>
                    <% if (post.type === "iframe") { %>
                        <article class="art">
                            <h4><%= post.name %> </h4>
                            <iframe src="<%= post.media %>"></iframe>
                            <% if (post.description !== "") { %>
                                <div class="div_p">
                                    <%= post.description %>
                                </div>
                            <% } %>
                        </article>
                    <% } else if (post.type === "image") { %>
                        <article class="art">
                            <h4><%= post.name %> </h4>
                            <img src="/images/comunity/<%= post.media %>" width="100%">
                            <% if (post.description !== "") { %>
                                <div class="div_p">
                                    <%= post.description %>
                                </div>
                            <% } %>
                        </article>
                    <% } else { %>
                        <article class="art">
                            <h4><%= post.name %> </h4>
                            <div class="div_p">
                                <%= post.description %>
                            </div>
                        </article>
                        <% } %>
                <% }) %>
            </section>
        </div>

    </main>
    <%- include('../partials/footer') %> 
</body>
</html>