<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="home">
        <main>
            <%- include('../partials/sidebar') %>

                <!-- <div class="div_banner_carrusel">
                    <img class="img1" src="https://64.media.tumblr.com/19e8abf3850bb1e19f855d20974e46cb/tumblr_nxiz26LujO1ripa0eo1_1280.jpg"></img>
                    <img class="img2" src="https://media.discordapp.net/attachments/740042309311266836/886357794838687764/80015630253175.58f6a15c28de4.gif?width=965&height=676" alt="">
                    
                </div> -->

                <div class="slideshow">
                    <div class="slider slider-1">
                        <div class="item">
                            <img class="img2"
                            src="/images/banner_alimusic.png"
                            width="100%"
                            alt="">
                            <img class="img1"
                                src="https://64.media.tumblr.com/19e8abf3850bb1e19f855d20974e46cb/tumblr_nxiz26LujO1ripa0eo1_1280.jpg"
                                alt="">
                        </div>
                        <div class="item">
                            <img class="img2"
                                src="/images/banner_alimusic2.png">
                            <img class="img1"
                                src="https://images.unsplash.com/photo-1601375863404-5b912f4536df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1830&q=80"
                                alt="">
                        </div>
                        <!-- <div class="item">
                            <img class="img2"
                                src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                            <img class="img1"
                                src="https://64.media.tumblr.com/19e8abf3850bb1e19f855d20974e46cb/tumblr_nxiz26LujO1ripa0eo1_1280.jpg"
                                alt="">
                        </div>
                        <div class="item">
                            <img class="img2"
                                src="https://images.unsplash.com/photo-1474861644511-0f2775ae97cc?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                            <img class="img1"
                                src="https://images.unsplash.com/photo-1601375863404-5b912f4536df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1830&q=80"
                                alt="">
                        </div> -->
                    </div>
                </div>
                <section class="novedades">

                    <div class="div_container">
                        <% products.forEach(product=> { %>
                            <% if (product.statusId === 2 ) { %>
                                <article class="art">
                                    <div class="div_img">
                                        <a href="/products/detail/<%= product.id%>">
                                            <img src="/images/articulos/<%= product.images.length != 0 ? product.images[0].image : null %>" alt="producto">
                                        </a>
                                        <p class="name">
                                            <%= product.name %>
                                        </p>
                                    </div>
                                    
                                </article>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
                <%- include('../partials/carrusel') %>

                    
        </main>
        <%- include('../partials/footer') %>
            <script src="/js/carrusel.js"></script>
            <script src="/js/index.js"></script>

    </body>

</html>