<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="home">
        <%- include('../partials/sidebar') %> 
        <%- include('../partials/header') %> 
            <main>
                <%- include('../partials/carrusel') %>

                <%- include('../partials/banner') %>

                <div>
                    <img src="" alt="">
                </div>

                <section class="novedades">

                    <div class="div_container">
                        <% products.forEach(product=> { %>
                            <% if (product.status==="visited" ) { %>
                                <article class="art">
                                    <!-- INTENTAR PONERLO EN PARTIALS -->
                                    <!-- href="/products/detail/<%= product.id %>" -->
                                    <div class="div_img">
                                        <a href="/products/detail/<%= product.id %>">
                                            <img src="/images/articulos/<%= product.image %>" alt="">
                                        </a>
                                        <p class="name">
                                            <%= product.name %>
                                        </p>
                                        <div class="box_description">
                                            <p class="description">
                                                <%= product.description %> 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="div_price">
                                        <% if (product.discount>0) { %>
                                            <p class="off">
                                                <%=product.discount + '% OFF'%>
                                            </p>
                                        <% } %> 
                                        <p class="precio">$<%= product.price %>
                                        </p>
                                    </div>
                                </article>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>