<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="home">
        <%- include('../partials/sidebar') %> 
            <main>
                <%- include('../partials/carrusel') %>

                <div class="div_banner_carrusel">
                    <img class="img1" src="https://64.media.tumblr.com/19e8abf3850bb1e19f855d20974e46cb/tumblr_nxiz26LujO1ripa0eo1_1280.jpg"></img>
                    <img class="img2" src="https://media.discordapp.net/attachments/740042309311266836/886357794838687764/80015630253175.58f6a15c28de4.gif?width=965&height=676" alt="">
                    
                </div>

                <section class="novedades">

                    <div class="div_container">
                        <% products.forEach(product=> { %>
                            <% if (product.status==="visited" ) { %>
                                <article class="art">
                                    <!-- INTENTAR PONERLO EN PARTIALS -->
                                    <!-- href="/products/detail/<%= product.id %>" -->
                                    <div class="div_img">
                                        <a href="/products/detail/<%= product.id %>">
                                            <img src="/images/articulos/<%= product.image %>" alt="">
                                        </a>
                                        <p class="name">
                                            <%= product.name %>
                                        </p>
                                        <div class="box_description">
                                            <p class="description">
                                                <%= product.description %> 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="div_price">
                                        <% if (product.discount>0) { %>
                                            <p class="off">
                                                <%=product.discount + '% OFF'%>
                                            </p>
                                        <% } %> 
                                        <p class="precio">$<%= product.price %>
                                        </p>
                                    </div>
                                </article>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
                <div class="div_banner_carrusel">
                    <img class="img1" src="https://images.unsplash.com/photo-1601375863404-5b912f4536df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1830&q=80" alt="">
                    <img class="img2" src="https://images7.alphacoders.com/104/1043984.jpg"></img> 
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>