<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class="details">
    <%- include('../partials/header') %> 
    <%- include('../partials/sidebar') %> 
    <main>
       <div class="box-product">
             
            <div class="product">
                <div class="img">
                    <img src="/images/articulos/<%= product.image %> " alt="<%= product.name + product.model %> ">
                    <a href="">
                        <i class="far fa-star"></i>
                    </a>
                </div>
                <div class="contain">
                    <div class="name">
                        <i class="fas fa-angle-double-left"></i>
                        <h2><%= product.name %> </h2>
                            <i class="fas fa-angle-double-right"></i>
                    </div>
                    <div class="descripcion">
                        
                        <p>$ <%= product.price %> </p>
                    
                        <a href="/products/cart">
                            <p><i class="fas fa-shopping-cart"></i> Comprar</p>
                        </a>
           
                        <div class="cant">
                            <button type="button">-</button>
                            <span>01</span>
                            <button type="button">+</button>
                            <p>Cantidad</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="detalles">
                <h3>Detalles del producto</h3>
                <p><%= product.description %> </p>
            </div>
        </div>
            
        <section class="relacionados">
            <h2>Productos relacionados</h2>
            <% products.forEach(producto => { %>

                <article>
                    <a href="/products/detail/<%= producto.id %>">
                        <div class="imageContain">
                            <i class="far fa-star"></i><img src="/images/articulos/<%= producto.image %> " alt="">
                        </div>
                        <div>
                            <p><%= producto.name %> </p>
                            <p>$ <%= producto.price %> </p>
                            <input type="button" value="Agregar al carrito">
                        </div>
                    </a>
            </article>

            <% }) %>
            
    
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>