<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body class="store">
    <%- include('../partials/sidebar') %> 

    <main>
        <%- include('../partials/carrusel') %> 

        <section>

            <h1>Todos los productos</h1>

            <div class="div_container">
                <% products.forEach(product=> { %>
                        <article class="art">
                            <!-- INTENTAR PONERLO EN PARTIALS -->
                            <!-- href="/products/detail/<%= product.id %>" -->
                            <div class="div_img">
                                <a href="/products/detail/<%= product.id %>">
                                    <img src="/images/articulos/<%= product.images.length != 0 ? product.images[0].image : null %>" alt="producto">
                                </a>
                                <p class="name">
                                    <%= product.name %>
                                </p>
                                <div class="box_description">
                                    <p class="description">
                                        <%= product.description %> 
                                    </p>
                                </div>
                                <a class="a_buy" href="/products/detail/<%= product.id %>">Comprar</a>
                            </div>
                            <div class="div_price">
                                <% if (product.discount>0) { %>
                                    <p class="off">
                                        <%=product.discount + '% OFF'%>
                                    </p>
                                <% } %> 
                                <p class="precio">$<%= product.price %>
                                </p>
                            </div>
                        </article>
                <% }) %>
            <!-- <div class="div_container">
                <% products.forEach(product => { %>
                    <article class="art">
                        <a class="a_img" href="/products/detail/<%= product.id %>">
                            <img src="/images/articulos/<%= product.image %> " alt="<%= product.name + product.model %> ">
                        </a>
                        <div>
                            <p class="off"><%= product.discount>0 ? product.discount + '% OFF' : null %> </p>
                            <p class="precio">$<%= product.price %> </p>
                        </div>
                        <nav class="nav_fav">
                            <a href=""><i class="far fa-star"></i></a>
                        </nav>
                    </article>
                    <% }) %>
                </div> -->
            
           
        </section>

    </main>

    <%- include('../partials/footer') %> 

</body>
</html>