<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="add">
    <%- include('../partials/sidebar') %> 

    <main>
        <form action="" method="POST" enctype="multipart/form-data">
            <section class="section-add">
                <div class="box-form">
                    <label for="name" >Nombre del producto:</label>
                    <input type="text" name="name" id="name" placeholder="Nombre del producto" value="<%=locals.old && old.name ? old.name : null%>">
                    <% if (locals.errors && errors.name) { %>
                        <span class="errores"><%= errors.name.msg %> </span>
                    <% } %>
                </div>
                <div class="box-form">
                    <label for="price">Precio:</label>
                    <input type="number" name="price" id="price" placeholder="Precio del producto" value="<%=locals.old && old.price ? old.price : null%>">
                    <% if (locals.errors && errors.price) { %>
                        <span class="errores"><%= errors.price.msg %></span>
                    <% } %>
                </div>
                <div class="box-form">
                    <label for="discount">Descuento:</label>
                    <input type="number" name="discount" id="discount" placeholder="Descuento" value="<%=locals.old && old.discount ? old.discount : null%>">
                    <% if (locals.errors && errors.discount) { %>
                        <span class="errores"><%= errors.discount.msg %></span>
                    <% } %>
                </div>
                <div class="box-form">
                    <label for="category">Categorias: </label>
                    <select name="category" id="category">
                        <option value="" hidden selected>Seleccione una categoria</option>
                      <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"<% if (locals.old && old.category) { %>
                            <%= category.id == old.category ? "selected": null %>
                        <% } %> ><%= capitalizarPrimeraLetra(category.category) %></option>
                      <% }) %>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                        <span class="errores"><%= errors.category.msg %></span>
                    <% } %>
                </div>
                <div class="box-form">
                    <label for="description"> Descipción:</label>
                    <textarea name="description" id="description" cols="30" rows="10"><%=locals.old && old.description ? old.description : null%></textarea> 
                    <% if (locals.errors && errors.description) { %>
                        <span class="errores"><%= errors.description.msg %></span>
                    <% } %>
                </div>
                <div class="img-subir">
                    <label for="image">Agregar imagen:</label>
                    <input type="file" name="image" id="image" multiple>
                </div>
            </section>
            <div class="box-button">
                <button type="submit">Agregar</button>
            </div>

        
        </form>
    </main>
    <%- include('../partials/footer') %> 
    
</body>
</html>