<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headBootstrap') %> 
<body class="admin">
    <%- include('../partials/sidebar') %> 

    <main>
        
        <div class="container">
            <!-- Table -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Productos</h5>
                            <table class="table container responsive">
                                <thead class="container responsive">
                                    <tr>
                                        <th role="columnheader">Id</th>
                    <th role="columnheader">Imagen</th>
                    <th role="columnheader">Nombre</th>
                    <th role="columnheader" class="oculto">Precio</th>
                    <th role="columnheader" class="oculto">Estado</th>
                    <th role="columnheader">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(product => { %>
                                        <tr role="  ">
                                            <td role="cell"><%= product.id %></td>
                                            <td role="cell" class="td_img" ><img src="/images/articulos/<%= product.images.length != 0 ? product.images[0].image : null %>" alt="producto"></td>
                                            <td role="cell"><%= product.name %></td>
                                            <td role="cell" class="oculto">$ <%= product.price %></td>
                                            <td role="cell" class="oculto"><%= product.productStates.state %></td>
                                            <td role="cell" class="td_botton">
                                                <button><a href="/admin/edit/<%= product.id %>"><i class="fas fa-edit"></i></a></button>
                                                <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="POST">
                                                    <button type='submit'><i class="fas fa-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>    
                        </div>
                    </div>    
                </div>        
            </div>   
        </div>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>